<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/estils.css">
        <title>Informe</title>
    </head>
    <body>
        {{> header}}
        <div class="contenedor">
            <h1>{{common.title}}</h1>
            <h2>{{common.subtitle}}</h2>
        </div>
        <div class="cities-container">
            <ul class="cities-list">
                {{#each cities}}
                    <li class="city-item">
                        <strong class="city-name">{{name}}</strong>
                        <span class="city-country">
                            {{lookup ../countries country}}
                        </span>

                        <span class="city-population">
                            {{#if population}}
                                {{population}} habitants
                            {{else}}
                                No se ha encontrado población
                            {{/if}}
                        </span>

                        <span class="city-location">
                            {{#if coastal}}
                                🌊 Costanera
                            {{else}}
                                Interior
                            {{/if}}
                        </span>

                        {{#if population}}
                            <span class="city-size">
                                {{#if (lte population 800000)}}
                                    Petita
                                {{else}}
                                    Gran
                                {{/if}}
                            </span>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </body>
</html>